build/
*.swp
.waf-1.6.7-0a94702c61504c487a251b8d0a04ca9a/
AUTHORS
CHANGES.html   
cscope.po.out
imac.todo.list.tex
notes.bbl  
notes.tex  
RELEASE_NOTES  
tags         
utils.py   
waf.bat    
wutils.pyc
autogen
cscope.files   
doc            
LICENSE             
notes.blg  
ns3        
test.py      
utils.pyc  
waf-tools
bindings  
cscope.in.out  
examples       
log.tex             
notes.log  
README     
session.vim    
testpy.supp  
VERSION    
wscript
cscope.out     
filenametags   
notes.aux           
notes.pdf  
README.md  
utils        
waf        
wutils.py
